body {
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family:
        Roboto Flex,
        Roboto,
        system-ui,
        sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 8px;
}

.mono {
    font-family: "JetBrains Mono", monospace;
    word-wrap: break-word;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 600;
    span {
        font-weight: 800;
    }
}

.header {
    margin-top: 0;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
    h1 {
        font-size: 28px;
        margin: 0;
    }
    .date {
        font-size: 12px;
        font-weight: 600;
        opacity: 0.9;
    }
}

h1 {
    font-weight: 800;
    font-size: 20px;
}

h2 {
    font-weight: 600;
    font-size: 18px;
}

h4,
ul {
    margin-top: 8px;
    margin-bottom: 8px;
}

a,
.user {
    text-decoration: none;
    color: hotpink;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.select-all {
    user-select: all;
}

::selection {
    background: hotpink;
    color: black;
}

.entry {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}
.entry-title {
    font-size: 28px;
    font-weight: 800;
}
.entry-excerpt {
    font-size: 16px;
    opacity: 0.9;
}
.entry-date {
    font-size: 12px;
    font-weight: 600;
}

@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }
    ::selection {
        color: white;
    }
    .header {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
    }
}

@media only screen and (max-width: 500px) {
    body {
        width: unset;
    }
}
