<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <link rel="icon" href="./favicon.png" />
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="nav"><a href="/">home</a><span>ayla</span><a href="/blog">blog</a></div>
        {{ content | safe }}
    </body>
</html>
